*{
    padding: 0;
    margin: 0;
}

body{
position: relative;
width: 1440px;
height: 4809px;

background: #212529;
}

footer{
position: absolute;
width: 1540px;
height: 470px;
left: 0px;
top: 4339px;
background: #1C1C1C;
}

form{
position: absolute;
width: 310px;
height: 63.25px;
top: 145px;
right: 9px;
bottom: 0.25px;
}

ins{
color: #FFB742;
text-decoration: none;
}

input[type=email] {
position: absolute;
bottom: 0.25px;
width: 310px;
height: 63px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 15.8118px;
line-height: 23px;
color: #7C7C7C;
background: #212529;
border-radius: 49px;
}

.header_pic{
position: absolute;
left: 12px;
top: 8px;
}

.right{
width: 30.58px;
height: 50px;
    
transform: rotate(-180deg);
}

.left{
width: 30.58px;
height: 50px;
}

.links_header{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px;
gap: 25px;

position: absolute;
width: 429px;
height: 47px;
left: 451px;
top: 10px;
}

.links_header, a{
width: 56px;
height: 27px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
text-decoration: none;

text-transform: capitalize;

color: #FFFFFF;

flex: none;
order: 1;
flex-grow: 0;
}

.btn_header{
box-sizing: border-box;
padding: 12px 26px;
position: absolute;
width: 121px;
height: 54px;
left: 1221px;
top: 6.06px;
background: #FFB742;
border-radius: 50px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 30px;
text-decoration: none;
text-align: center;
color: #212529;
}

.block_3{
position: absolute;
width: 416px;
height: 120px;

filter: drop-shadow(10px 10px 51px rgba(0, 0, 0, 0.25));
background: rgba(56, 62, 69, 0.44);
border-radius: 10px;
}

.block_2{
position: absolute;
width: 416px;
height: 120px;
left: 440px;

background: rgba(56, 62, 69, 0.44);
border-radius: 10px;
}

.block_1{
position: absolute;
width: 416px;
height: 120px;
left: 880px;

background: rgba(56, 62, 69, 0.44);
border-radius: 10px;
}

.left_side{
position: absolute;
width: 620px;
height: 596.07px;
}

.right_side{
position: absolute;
width: 682px;
height: 396.63px;
left: 660px;
top: 85.4px;
}

.icons{
position: absolute;
width: 560px;
height: 176px;
left: 777px;
top: 53.8px;
}

.blockfooter{
position: absolute;
width: 1116px;
height: 174px;
left: 162px;
right: 162px;
top: -89px;
bottom: 385px;

background: #FFB742;
border-radius: 15px;
}

.group{
position: absolute;
width: 424px;
height: 691px;
left: 416px;
}

.comm_1{
position: absolute;
width: 378.91px;
height: 443.55px;
top: 182px;

background: #FFFFFF;
border-radius: 7.92699px;
}

.comm_2{
position: absolute;
width: 378.91px;
height: 443.55px;
left: 419px;
top: 182px;

background: #FFFFFF;
border-radius: 7.92699px;
}

.comm_3{
position: absolute;
width: 378.91px;
height: 443.55px;
left: 838px;
top: 182px;

background: #FFFFFF;
border-radius: 7.92699px;
}

.links_2{
position: absolute;
width: 139.33px;
height: 228.78px;
left: 431.85px;
top: 148px;
}

.SKILLS{
position: absolute;
width: 1339px;
height: 358.29px;
left: 50px;
top: 1775px;
}

.links_1{
position: absolute;
width: 143.46px;
height: 232.57px;
left: 772.54px;
top: 148px;
}

.WORKS{
position: absolute;
width: 1234px;
height: 1037.5px;
left: 103px;
top: 2270px;
}

.comments{
position: absolute;
width: 1216.91px;
height: 691px;
left: 112px;
top: 3444px;
}

.footer_left{
position: absolute;
width: 253.16px;
height: 129.62px;
left: 50px;
top: 148px;
}

.text_right{
position: absolute;
width: 319px;
height: 114px;
}

.footer_right{
position: absolute;
width: 319px;
height: 208.25px;
top: 144px;
left: 1073px;
bottom: 117.75px;
right: 48px;
}

.subtitle{
position: absolute;
left: 417px;
right: 340px;
bottom: 57px;
top: 57px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 30px;

text-align: center;

color: #000000;
}

.tittle{
position: absolute;
left: 94px;
right: 775px;
bottom: 64px;
top: 57px;


font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 34.6667px;
line-height: 53px;

color: #000000;
}

.Newsletter{
position: absolute;
margin-top: 0px;
margin-bottom: 0px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 21.5865px;
line-height: 32px;

color: #F5FBF2;
}

.enter{
position: absolute;
top: 41.34px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 17.9888px;
line-height: 36px;
/* or 202% */


color: #7B7B7B;
}

.btn{
box-sizing: border-box;


position: absolute;
width: 177px;
height: 54px;
left: 845px;
top: 60px;
right: 94px;
bottom: 60px;

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 40px;
gap: 10px;

border: 2px solid #000000;
border-radius: 50px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 30px;
text-decoration: none;

text-align: center;

color: #212529;
}

.submit{
position: absolute;
left: 245px;
right: 9.25px;

bottom: 0px;

width: 64.75px;
height: 63.25px;
    
background: #FFB742;
border-radius: 48px;
}

.rectangle20{
width: 64.75px;
height: 63.25px;
    
background: #FFB742;
border-radius: 48px;
}

.footer_name{
position: absolute;
    
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 100%;
margin-top: 0px;
    
color: #FFB742;
}

.text_left{
position: absolute;
top: 63.28px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 32px;


color: #D4D4D4;
}

.Social_Media{
position: absolute;
top: 49.57px;
right: 49.58px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 17.9888px;
line-height: 36px;
text-decoration: none;

color: #7B7B7B;
}

.text_footer{
position: absolute;

font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 21.5865px;
line-height: 32px;

color: #F5FBF2;

}

.Useful_Links{
position: absolute;
top: 45.79px;
right: 59.16px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 17.9888px;
text-decoration: none;line-height: 36px;
/* or 202% */


color: #7B7B7B;

}

.text{
position: absolute;
left: 33px;
right: 51.91px;
top: 84px;
bottom: 155.55px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 34px;
/* or 170% */


color: #000000;

}

.Designer{
position: absolute;
left: 128px;
right: 161.91px;
top: 355px;
bottom: 54.55px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 34px;
/* identical to box height, or 212% */


color: #000000;
}

.NAME{
/* Khushi Gupta */


position: absolute;
left: 128px;
right: 110.91px;
top: 326px;
bottom: 83.55px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 34px;
/* identical to box height, or 170% */


color: #000000;
}

.lines{
position: absolute;
width: 424px;
height: 642px;
top: 49px;
}

.line2{
/* Line 4 */


color: #BB842C;
background: #BB842C;
padding: 0 20px 0 20px;
border-radius: 10px;

position: absolute;
left: 221px;
top: 645px;
}

.line1{
/* Line 3 */

color: #FFB742;
background: #FFB742;
padding: 0 20px 0 20px;
border-radius: 10px;

position: absolute;
right: 210px;
left: 165px;
top: 645px;


}

.topic_1{
position: absolute;
top: 49px;
left: 33px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 39.2896px;
line-height: 46px;
text-align: center;
text-transform: capitalize;
color: #FFFFFF;
}

.t{ 
position: absolute;
left: 106px;
    
background: rgba(255, 255, 255, 0.08);
border-radius: 50px;
text-align: center;

padding: 6px 25px;

font-weight: 600;
font-size: 20px;

text-transform: uppercase;

color: #FFB742;
}

.t_2{
position: absolute;
left: 537px;

color: #FFB742;
font-weight: 600;
font-size: 20px;
padding: 6px 25px;
text-align: center;

background: rgba(255, 255, 255, 0.08);
border-radius: 50px;
}

.t3{
position: absolute;

color: #FFB742;
font-weight: 600;
font-size: 20px;
padding: 6px 25px;
text-align: center;

background: rgba(255, 255, 255, 0.08);
border-radius: 50px;
}

.t4{
position: absolute;
left: 660px;
top: 85.4px;

color: #FFB742;
font-weight: 600;
font-size: 20px;
padding: 6px 25px;
text-align: center;

background: rgba(255, 255, 255, 0.08);
border-radius: 50px;
}

.topic_2{
position: absolute;
left: 447px;
right: 448px;
top: 42px;
bottom: 939.5px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 56px;
text-align: center;

color: #FFFFFF;
}

.Skills{
position: absolute;
width: 1337px;
height: 315.8px;
left: 2px;
top: 42.49px;
}

.topic_3{
position: absolute;
left: 8px;
right: 811px;
bottom: 205.71px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 56px;

color: #FFFFFF;
}

.text_skills{
position: absolute;
left: 8px;
right: 657px;
top: 139.58px;
bottom: 117.25px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* or 188% */


color: #FFFFFF;
}

.About_Me{
position: absolute;
width: 1342px;
height: 596.07px;
left: 47px;
top: 1042px;
}

.text_aboutme{
position: absolute;
left: 10px;
top: 111.25px;
bottom: 108.45px;
    
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
    
color: #D5D5D5; 
}

.topic_4{
position: absolute;
left: 10.15px;
top: 52.27px;
bottom: 314.87px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 30px;
color: #FFFFFF;
}

.Hero{
position: absolute;
width: 964px;
height: 458.73px;
left: 238px;
top: 191px;
}

.text_hero{
position: absolute;
width: 759px;
height: 51px;
left: 103px;
top: 163px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 51px;

display: flex;
align-items: center;
text-align: center;
text-transform: capitalize;

color: #FFFFFF;

}

.topic_5{
position: absolute;
width: 372px;
height: 51px;
top: 0px;left: 297px;
right: 295px;
bottom: 407.73px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 51px;

align-items: center;
text-align: center;

color: #FFFFFF;
}

.topic_6{
position: absolute;
width: 964px;
height: 91px;
bottom: 320.73px;
top: 47px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 91px;

display: flex;
align-items: center;
text-align: center;
text-transform: capitalize;

color: #FFFFFF;
}

.Meter{
position: absolute;
width: 1296px;
height: 120px;
left: 72px;
top: 786px;
}

.happypeople{
position: absolute;
width: 159px;
height: 70px;
left: 160px;
top: 43px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
display: flex;
align-items: center;
text-align: center;
text-transform: capitalize;
color: #FFFF;}

header{
position: absolute;
width: 1342px;
height: 66px;
left: 50px;
top: 17px;
}

.avatar{
position: absolute;
width: 210px;
height: 222.73px;
right: 367px;
top: 238px;
}

.number{
position: absolute;
width: 159px;
height: 70px;
right: 73px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 40px;
display: flex;
align-items: center;
text-align: center;
text-transform: capitalize;

color: #FFB742;
}

.vector{
position: absolute;
width: 20px;
height: 20px;
left: 366px;
top: 50px;
}

.hav{
position: absolute;
width: 64px;
height: 64px;
left: 30px;
top: 28px;
}

.screen{
position: absolute;
width: 620px;
height: 596.07px;

background: url(assects/Mask\ group.svg);
background-repeat: no-repeat;
background-position: 0 120px;
}

.fvector{
position: absolute;
width: 48px;
height: 48px;
top:96px;
left: 384px;
padding: 16px;
background: #383E45;
border-radius: 10px;
margin-left: 16px;
}

.gvector{
position: absolute;
width: 48px;
height: 48px;
left: 480px;
top: 96px;
padding: 16px;
background: #383E45;
border-radius: 10px;
margin-left: 16px;
}

.gitvector{
position: absolute;
width: 48px;
height: 48px;
left: 288px;
padding: 16px;
background: #383E45;
border-radius: 10px;
margin-left: 16px;
}

.bxlvector{
position: absolute;
width: 48px;
height: 48px;
left: 288px;
top: 96px;
padding: 16px;
background: #383E45;
border-radius: 10px;
margin-left: 16px;
}

.pythonvector{
position: absolute;
width: 48px;
height: 48px;
left: 192px;
top: 96px;
padding: 16px;
background: #383E45;
border-radius: 10px;
margin-left: 16px;
}

.tsvector{
position: absolute;
width: 48px;
height: 48px;
left: 96px;
top: 96px;
padding: 16px;
background: #383E45;
border-radius: 10px;
margin-left: 16px;
}

.sassvector{
position: absolute;
width: 48px;
height: 48px;
top: 96px;
padding: 16px;
background: #383E45;
border-radius: 10px;
margin-left: 16px;
}

.xdvector{
position: absolute;
width: 48px;
height: 48px;
left: 480px;
padding: 16px;
background: #383E45;
border-radius: 10px;
margin-left: 16px;
}

.bootvector{
position: absolute;
width: 48px;
height: 48px;
left: 384px;
padding: 16px;
background: #383E45;
border-radius: 10px;
margin-left: 16px; 
}

.jsvector{
    position: absolute;
    width: 48px;
    height: 48px;
    left: 192px;
    padding: 16px;
    background: #383E45;
    border-radius: 10px;
    margin-left: 16px; 
}

.vsvector{
    position: absolute;
    width: 48px;
    height: 48px;
    left: 96px;
    padding: 16px;
    background: #383E45;
    border-radius: 10px;
    margin-left: 16px; 
}

.vscodevector{
    position: absolute;
    width: 48px;
    height: 48px;
    padding: 16px;
    background: #383E45;
    border-radius: 10px;
    margin-left: 16px; 
}

.btn_skills{
display: flex;
flex-direction: row;
justify-content: center;
padding: 12px 26px;

position: absolute;
width: 147.57px;
height: 54px;
top: 261.8px;

background: #FFB742;
border-radius: 50px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 30px;

text-decoration: none;
align-items: center;
color: #212529;
}

.homepage{
position: absolute;
width: 390px;
height: 291.97px;
left: 844px;
top: 744px;

border-radius: 5.27027px;
}

.pic2{
position: absolute;
width: 390px;
height: 495.41px;
left: 422px;
top: 541px;

border-radius: 5.27027px;
}

.pic3{
position: absolute;
width: 390px;
height: 292.5px;
top: 745px;

border-radius: 5.27027px;
}

.pic4{
position: absolute;
width: 390.24px;
height: 495.71px;
left: 843.76px;
top: 218px;

background: url(wd3.png);
border-radius: 5.2735px;
}

.pic5{
box-sizing: border-box;

position: absolute;
width: 390.24px;
height: 495.71px;
top: 218px;

border: 0.2439px solid #000000;
border-radius: 5.2735px;
}

.pic6{
position: absolute;
left: 421.88px;
top: 218px;

border-radius: 5.2735px;
}

.links{
position: absolute;
width: 652px;
height: 40px;
left: 291px;
top: 128px;
text-align: center;}

.l-1{
padding: 8px 20px 8px 20px;
display: inline;gap: 10px;


background: #FFB742;
border-radius: 3px;
}

.l_1{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 30px;

color: #212529;

text-decoration: none;
}

.l-all{
display: inline;
margin-left: 44px;

border-radius: 3px;
}

.l_all{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 30px;

color: #FFFFFF;

text-decoration: none;
}

.icn{
position: absolute;
width: 72px;
height: 72px;
left: 32px;
top: 324px;
}

.stars{
position: absolute;
left: 33px;
top: 49.77px;
}

.ftext{
font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 17.9888px;
line-height: 36px;

color: #7B7B7B;
text-decoration: none;
}

@media (max-width:768px) {
    .header_pic {
        position: absolute;
        left: 2px;
        top: 8px;
    }
    .links_header{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 10px;
        gap: 25px;
        
        position: absolute;
        width: 429px;
        height: 47px;
        left: 211px;
        top: 10px;
    }
    .btn_header{
    box-sizing: border-box;
    padding: 12px 26px;
    position: absolute;
    width: 121px;
    height: 54px;
    left: 671px;
    top: 6.06px;
    background: #FFB742;
    border-radius: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    color: #212529;
    }

    .comments{
        position: absolute;
        width: 1216.91px;
        height: 691px;
        left: 0px;
        top: 3944px;
    }

    .WORKS{
        position: absolute;
        width: 1234px;
        height: 1037.5px;
        left: 0px;
        top: 2770px;
        }

        .SKILLS{
            position: absolute;
            width: 1339px;
            height: 358.29px;
            left: 50px;
            top: 2075px;
            }

        .t3{
            position: absolute;
            top: 2px;
            
            color: #FFB742;
            font-weight: 600;
            font-size: 20px;
            padding: 6px 25px;
            text-align: center;
            
            background: rgba(255, 255, 255, 0.08);
            border-radius: 50px;
        }

    .About_Me{
        position: absolute;
        width: 1342px;
        height: 596.07px;
        left: 0px;
        top: 1142px;
    }

    
.left_side{
    position: absolute;
    width: 620px;
    height: 596.07px;
    left: 300px;}

    .right_side{
        position: absolute;
        width: 682px;
        height: 396.63px;
        left: 160px;
        top: 600px;
        }

        .t4{
            position: absolute;
            left: 160px;
            top: 600px;
            
            color: #FFB742;
            font-weight: 600;
            font-size: 20px;
            padding: 6px 25px;
            text-align: center;
            
            background: rgba(255, 255, 255, 0.08);
            border-radius: 50px;
            }
    
            .btn_skills{
                display: flex;
                flex-direction: row;
                justify-content: center;
                padding: 12px 26px;
                
                position: absolute;
                width: 147.57px;
                height: 54px;
                top: 461.8px;
                
                background: #FFB742;
                border-radius: 50px;
                
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
    line-height: 30px;
                
    text-decoration: none;
    align-items: center;
    color: #212529;
    }

    .Hero{
        position: absolute;
        width: 964px;
        height: 458.73px;
        left: 99px;
        top: 191px;
    }

    .block_1{
    position: absolute;
    width: 416px;
    height: 120px;
    top: 160px;
    left: 0px;

    background: rgba(56, 62, 69, 0.44);
    border-radius: 10px;
    }

    .icons{
        position: absolute;
        width: 560px;
        height: 176px;
        left: 1px;
        top: 250px;
    }

    .blockfooter{
    position: absolute;
    width: 1116px;
    height: 174px;
    left: 32px;
    right: 162px;
    top: -89px;
    bottom: 385px;
        
    background: #FFB742;
    border-radius: 15px;
    }

    .links_1{
    position: absolute;
    width: 143.46px;
    height: 232.57px;
    left: 472.54px;
    top: 148px;
    }

    .links_2{
    position: absolute;
    width: 139.33px;
    height: 228.78px;
    left: 331.85px;
    top: 148px;
    }

    .footer_right{
    position: absolute;
    width: 319px;
    height: 208.25px;
    top: 144px;
    left: 673px;
    bottom: 117.75px;
    right: 48px;
    }

    footer{
    position: absolute;
    width: 1540px;
    height: 470px;
    left: 0px;
    top: 5439px;
    background: #1C1C1C;
    }

    .comm_3{
    position: absolute;
    width: 378.91px;
    height: 443.55px;
                        
    left: 1px;top: 683px;
                        
    background: #FFFFFF;
    border-radius: 7.92699px;
    }
                        
    .lines{
    position: absolute;
    width: 424px;
    height: 642px;
    left: 1px;top: 600px;
    }
        
}